{% extends "people_base.html" %}

{% block pagehead %}
<title>edit</title>
{% endblock %}

{% block content %}
<h2>Edit person</h2>
<form action='/people/update' method="post">
  <label>name</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-tag"></i></span>
    </div>
    <input required  autocomplete="off" id="name" type="text" class="form-control" 
      name="name" placeholder="Name" value="{{ name }}">
    <input required  id="oldname" type="hidden" class="form-control" 
      name="oldname" placeholder="Name" value="{{ name }}">
  </div>

  <label>birthday</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
    </div>
    <input required  id="birthday" type="date" class="form-control" 
      name="birthday" placeholder="Birthday" value="{{ birthday }}">
  </div>

  <label>about</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-th"></i></span>
    </div>
    <input required  id="about" type="text" class="form-control" 
      name="about" placeholder="About" value="{{ about }}">
  </div>

  <label>social media</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
    </div>
    <input required  id="social_media" type="text" class="form-control" 
      name="social_media" placeholder="Social Media" value="{{ social_media }}">
  </div>

  <br>
  <input required  type="submit" class="btn btn-info" value="edit">
</form>
{% endblock %}
