{% extends "people_base.html" %}

{% block pagehead %}
<title>SpareParts</title>
{% endblock %}

{% block content %}

  <h2>people</h2>
    <table class="table table-bordered">
            <thead>
              <tr>
                <th>name</th>
                <th>age</th>
                <th>birthday</th>
                <th>about</th>
                <th>social media</th>
              </tr>
            </thead>
            <tbody>
              {%for p in people%}
              <tr>
                <td>{{p.name}}</td>
                <td>{{p.age}}</td>
                <td>{{p.birthday}}</td>
                <td>{{p.about}}</td>
                <td>{{p.social_media}}</td>
                <td><a href="/people/delete/{{p.name}}" class="btn btn-danger" role="button">delete</a></td>
                <td><a href="/people/edit/{{p.name}}" class="btn btn-info" role="button">edit</a></td>
              </tr>
              {%endfor%}
            </tbody>
          </table>

{% endblock %}
