include requirements.txt
include dev_requirements.txt
exclude config.json
exclude github_banner.png
recursive-include shopyo *
recursive-exclude shopyo/migrations *
recursive-exclude shopyo/instance *
recursive-exclude shopyo/static/modules *
recursive-exclude shopyo/static/uploads *
recursive-exclude shopyo/static/uploads *
recursive-exclude shopyo/static/modules *
recursive-exclude shopyo/.tox *
recursive-exclude __pycache__ *
recursive-exclude screenshots *
