Flask==1.1.2
Flask-SQLAlchemy==2.4.4
flask-marshmallow==0.14.0
email-validator==1.1.1
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-WTF==0.14.3
marshmallow-sqlalchemy==0.23.1
flask-mailman==0.2.2
flask-admin==1.5.7
SQLAlchemy<1.4
