{% extends "base/main_base.html" %}

{% set active_page ='save' %}

{% block pagehead %}
<title>Save</title>
<style>
    .myaction{
        min-height: 100px;
    }
</style>
{% endblock %}

{% block content %}
    {% if has_internet %}
      <i style="color: green;" class="fas fa-wifi"></i> connected
    {% else %}
      <i style="color: red;" class="fas fa-wifi"></i> offline
    {% endif %}
    <br><br>
    <div class="row ">
        <div class="col-sm-4 text-center" >
            <div class="card action">
                <div class="card-header">
                    Save
                </div>
                <div class="card-body">
                    <a href="/save/upload">
                        <button class="btn btn-primary"><i style="" class="fas fa-save"></i></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            
        </div>
    </div>
{% endblock %}