{% extends "manufac_base.html" %}

{% block pagehead %}
<title>add manufacturer</title>
{% endblock %}

{% block content %}

<h2>Add Manufacturer</h2>

<form action="/manufac/add" method="post">

  <label>name</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
    </div>
    <input required  autocomplete="off" id="name" type="text" class="form-control" name="name" placeholder="Name">
  </div>
  
  <input required  type="submit" class="btn btn-info" value="add">
</form>
{% endblock %}