{% extends "people_base.html" %}

{% block pagehead %}
<title>add person</title>
{% endblock %}

{% block content %}

<h2>Add Person</h2>

<form action="/people/add" method="post">

  <label>name</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
    </div>
    <input required  autocomplete="off" id="name" type="text" class="form-control" 
    name="name" placeholder="Name">
  </div>

  <label>birthday</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
    </div>
    <input required  autocomplete="off" id="birthday" type="date" class="form-control" name="birthday" placeholder="Birthday">
  </div>

  <label> about</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
    </div>
    <input required  autocomplete="off" id="about" type="text" class="form-control" 
        name="about" placeholder="About">
  </div>

  <label>social media</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
    </div>
    <input required  autocomplete="off" id="social_media" type="text" class="form-control" 
        name="social_media" placeholder="Social Media">
  </div>
  
  <input required  type="submit" class="btn btn-info" value="add">
</form>
{% endblock %}
