<!DOCTYPE html>
<html>
<head>

    <link rel="icon" href="/static/shopyo.png">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

    <script src="/static/jquery_3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'logic.js') }}"></script>

<style type="text/css">
.suggest{

}

.suggest span{
  padding-left: 5px; padding-right: 5px;
  margin: 5px;
  min-width: 50px;
}
li i{
  font-size: 30px;
}
li{
  margin-right: 10px;
}

</style>
{% block pagehead %}{% endblock %}
</head>
<body>

<div class="container">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#"><img src="/static/shopyo.svg" width="35" height="30"> {{OUR_APP_NAME}} | {{SECTION_ITEMS}}</a>

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item">
      <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/prods/list_prods/{{manufac}}"><i class="fas fa-warehouse"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/prods/add/{{manufac}}"><i class="fas fa-plus-circle"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/prods/lookup/{{manufac}}"><i class="fas fa-search"></i></a>
    </li>

  </ul>
</nav><br>
{% block content %}{% endblock %}
</div>
</body>
</html>
