<nav class="nav bg-light">    
    {% if current_user.admin_user %}
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('contact.dashboard')}}" title="Category home">
            <button type="button" class="btn btn-info">
                View contact dashboard
            </button>
          </a>
      </li>
    {% endif %} 
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('contact.index')}}" title="Category home">
            <button type="button" class="btn btn-info">
                View contact page
            </button>
          </a>
      </li>      
</nav>
<br>