{% extends get_active_back_theme()+"/base.html" %}

{% block content %}
<br>
<div class="container">

    <div class="card">
        <h2 class="card-header">All pages</h2>
        <div class="list-group">


           {%for page in pages%}
           <div class="list-group-item">
               {% if page.get_dashboard_url() %}
               <a href="{{ page.get_dashboard_url() }}">
                   {{page.title}}
               </a><br>
               {% endif %}
            </div>
           {%endfor%}

         </div>
    </div>

</div>
{% endblock %}
