{% extends "base/main_base.html" %}

{% set active_page ='manufacturer' %}

{% block pagehead %}
<title>edit</title>
{% endblock %}

{% block content %}

<form action='/manufac/update' method="post">
  <label>Name</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-tag"></i></span>
    </div>
    <input required  id="manufac" type="text" class="form-control" 
      name="manufac_name" placeholder="{{ manufac_name}}">
    <input required  id="manufac2" type="hidden" class="form-control" 
      name="old_manufac_name" value="{{ manufac_name }}">
  </div>

  <br>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input required  type="submit" class="btn btn-info" value="edit">
</form>
{% endblock %}