{% extends "base/main_base.html" %}

{% set active_page ='people' %}

{% block pagehead %}
<title>People</title>
<style>
  .hidden {
    display: none;
  }

  .show {
    display: inline-block;
  }
</style>
{% endblock %}

{% block content %}
<script type="text/javascript">
  $(function () {
    $('.delete_me').click(function () {
      var id = $(this).attr('id');
      console.log(id);
      var name = id.split('-')[1];
      console.log(name);
      var ask = confirm("Do you want to delete ?");
      if (ask == true) {
        window.location.replace("/people/delete/" + name, "_self")
      } else {

      }
    });
  });
</script>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Birthday</th>
        <th>About</th>
        <th>Social Media</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

{%for p in peoples%}
      <tr>
        <td>{{p.name}}</td>
        <td>{{p.age}}</td>
        <td>{{p.birthday}}</td>
        <td>{{p.about}}</td>
        <td>{{p.social_media}}</td>

        <td>
          <a href="#" style="text-decoration: none;">
            <button id='del-{{p.id}}' class="delete_me btn btn-danger" type=""><i class="fas fa-trash-alt"></i></button>
          </a>
          <a href="/people/edit/{{p.id}}" style="text-decoration: none;">
            <button data-name="{{p.id}}" class="btn btn-warning" type=""><i id='ico-{{p.id}}'
                class="fas fa-pencil-alt"></i></button>
          </a>
        </td>
      </tr>
{%endfor%}
    </tbody>
  </table>
{% endblock %}