<nav class="nav bg-light">    
  {% if current_user.admin_user %}
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('page.panel_redirect')}}" title="Category home">
          <button type="button" class="btn btn-info">
              Dashboard
          </button>
        </a>
    </li>
  {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('page.index')}}" title="Category home">
          <button type="button" class="btn btn-info">
              All Pages
          </button>
        </a>
    </li>    
</nav>
<br>